* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header1 {
    background-color: blue;
    color: #fff;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: deepskyblue;
    text-align: center;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    background-color: blue;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.logo {
    text-align: center;
}

.logo img {
    margin: 0 auto;
    display: block;
}

img {
    height: 100px;
    width: 100px;
}

h2 {
    text-align: center;
}


/* Container */
.container {
    padding: 5px;
    max-width: 960px;
    width: 95%;
    margin: 20px auto;
}

header {
    padding: 0 15px;
    text-align: center;
    font-size: 21px;
}

.columns {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 5px 0;
}

.column {
    flex: 1;
    border: 1px solid #666;
    margin: 2px;
    padding: 31px;
    background: #3af4d5;
    transition: 0,3s;
}

.column:first-child {
    margin-left: 0;
    background: purple;
}

.column:last-child {
    margin-left: 0;
    background: deepskyblue;
}


/* Container */
